@font-face {
    font-family: 'WorkSans-Bold';
    src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: 'WorKSans-SemiBold';
    src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}